BasedOnStyle: Google

IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false

ColumnLimit: 80

AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true

PointerAlignment: Right
